@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

body {
  background: #f1B3A4;
  margin: 0;

}

body .aboutTitle {
  font-family: "knewave";
  color: #f13a44;
  font-size: 32px;
}

body .quote {
  font-family: 'Jockey One';
  color: #f13a44;
  font-size: 24px;
}

body .aboutBody {
  margin: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

body .aboutDescription {
  font-family: 'Jockey One';
  color: #660008;
  font-size: 20px;
  width: 100%;
}