@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

.Categories{
    width: 100%;
    height: 100%;
    background-color: #F1B3A4;
}
.category-title{
    margin-bottom:30px ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-offer{
    word-spacing: 10px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'knewave';
}
.category-quote{
    font-family: 'Jockey One';
    font-size: 25px;
    word-spacing: 5px;

}
.category-products img{
    width: 300px;
    margin-bottom: -30px;
}
 .category-products{
    display: flex;
    justify-content: space-around;
}
.category-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

 .category-headers{
    color: #660008;
    font-size: 30px;
    font-family: 'Jockey One';
} 

@media screen and (max-width: 768px) {


    .category-products{
        display: flex;
        flex-direction: column;
    }
    .category-quote{
        margin-left: 50px;
    }
    
    .category-products img{
        width: 200px;
        margin-bottom: -30px;
    }
    .category-headers{
        font-size: 20px;
    } 
}