/* body .Home {
  background: #f1B3A4;
  background-image: url("../images/background-home.png");
  background-size: cover;
  margin: 0;
  padding-top: 230px;
  padding-left: 20%;
  padding-right: 20%;
  height: 700px;
  width: 100%;
} */
.background {
  z-index: -1;
}