.title {
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
    color: #F13A44;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'knewave';
 
  }
  
  .main-content {
    display: flex;
    flex-direction: column;
    padding-top: 0px;
  }
  
  .products {
    display: flex;
    flex-direction: row;
    justify-content: center;
  
  
  }
  .product1 {
    width: 100%;
    display: flex;
    flex-direction:column;
    
  }
  
  .products-row {
    display: flex;
    flex-direction:row;
    justify-content: center;  
    justify-content: space-evenly;
  }
  @media screen and (max-width:750px) {
    .products {display: flex; flex-direction:column ; align-items: center;}
    .product1 { width:50%;}
 
  }