.products-title {
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
  color: #F13A44;
  font-family: 'knewave';  
}
.product-content{
  display: flex;
    flex-direction: column;
  
}

.products{
  display: flex;
  flex-direction:row;
}
.product-image{
  width: 200px;
  height: 200px;
}
.first-product{

    width: 100%;
    display: flex;
    flex-direction: row;
}
.product-description{
  display: flex;
  flex-direction:column;


}
.small-product{
  display: flex;
    flex-direction:row;
    justify-content: center;  
    justify-content: space-between;
}
@media screen and (max-width:750px) {
  .products {display: flex; flex-direction:column ; align-items: center;}
  .product1 { width:50%;}

}