/* Header.css */

header {
    display: flex;
    max-width: 80%;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    margin: 0 auto; 
    padding: 10px; 
  }
  
  .logo img {
    max-width: 220px;
    height: 200px;
  }
  
  .nav-bar {
    display: flex;
    gap: 25px;
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: "jockey+One";
    font-size: 20px;
    font-family: 'Jockey One', sans-serif; 
  }
  .nav-bar a {
    text-decoration: none; /* Remove underline from the links */
    font-size: 20px;
    color:#F13A44;
  }