.small-product{
    margin-left: 100px;
    margin-right: 100px;
    max-width: 30%;
    display: flex;
    flex-direction:column;

 
}
.small-products{
    max-width: 100%;
    display: flex;
    flex-direction:column;
}
.image{
    width:100%;
}