/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #f1B3A4;
  margin: 0;
  font-family: "Poppins";
  color: #f13a44;
}
header {
  background: #fff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header {
  background-color: #f1B3A4;
  color: #f13a44;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}
.categoryDetails {
  display: flex;
  color: #660008;
}
.title {
  margin-left: 45%;
}
.offer {
  font-size: 20px;
}