/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');
/* layout */
body{
margin: 0;
}  

html{
  --primary: #1aac83;
  --error: #e7195a;
    font-family: 'Kavoon';
    color: #f13a44;

}

header .container {
  display: flex;
  justify-content: center;
}
header {
  color: #f13a44;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  margin: 0 auto;
}
.categoryDetails {
  display: flex;
  color: #660008;
}

.offer {
  font-size: 20px;
}


/* color: #fae2e1; background */
    /* color: #f13a44 titles */ 
    /* color: #e1b576  button */
    /* color: #5d2c1b; fonts*/
    /* color: #d77a46 button 2*/
